FIREBASE_PROJECT_ID=rbdarts-production
FIREBASE_STORAGE_BUCKET=rbdarts-production.appspot.com
GOOGLE_WEB_CLIENT_ID=replace-with-production-google-web-client-id
FACEBOOK_APP_ID=replace-with-production-facebook-app-id
APP_CHECK_ENFORCEMENT=true
